[ACCOUNT]
publicAddress = publicAddressGoesHere
privateKey = privateKeyGoesHere
gasPrice_gwei = 20

[NODE]
url = http://nodeUrlGoesHere:8545

[CONTRACT_PROXY]
filename = tutorial_proxy
address = 0xfb1495fb3adca65a1c3374f206971891d3137ff9

[CONTRACTS_LOGIC]
tutorial_logic_a = 0xd37589ee0c581ef58efab0d2adb08d08b373125f
tutorial_properties = 0xc630aae56ac54f52ee7fb757bf6b23f86a8aacea
